<%= render 'public/public_header' %>

<div class= "container">
  <div class= "row">
    <div class= "mx-auto col-lg-12 d-flex justify-content-start">
      <div class= "h5 bg-light px-4" >会員情報編集</div>
    </div>
  </div>

<%= form_with model:@customer, url:customer_path, local:true do |f| %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td scope="col">氏名</td>
        <td scope="col"><%= f.text_field :last_name, class: "mr-5" %><%= f.text_field :first_name %></td>
      </tr>
       <tr>
        <td scope="col">フリガナ</td>
        <td scope="col"><%= f.text_field :last_name_kana, class: "mr-5" %><%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td scope="col">郵便番号</td>
        <td scope="col"><%= f.text_field :postal_code %></td>
      </tr>
       <tr>
        <td scope="col">住所</td>
        <td scope="col"><%= f.text_field :address, :size=>"50" %></td>
      </tr>
       <tr>
        <td scope="col">電話番号</td>
        <td scope="col"><%= f.text_field :telephone_number %></td>
      </tr>
       <tr>
        <td scope="col">メールアドレス</td>
        <td scope="col"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><%= f.submit '変更を保存', class: "btn btn-success  btn-lg" %></td>
        <td><%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger  btn-lg" %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>