<%= render 'public/public_header' %>

<div class= "container">
  <div class= "row">
    <div class= "col-lg-6 mt-2 mb-2">
      <div class="d-flex justify-content-start">
        <div class= "h4 bg-light px-4" >マイページ</div>
      </div>
    </div>
  </div>

<div class= "row">
  <div class= "col-lg-6 mt-2 mb-2">
    <div class="d-flex justify-content-start">
      <div class= "h5 pr-3" >登録情報</div>
      <div class= "h5" ><%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success btn-sm" %></div>
    </div>
  </div>
</div>

<div class= "row">
  <div class= "col-lg-5">
      <table class= "table table-bordered">
        <tr>
          <td class= "bg-light">氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class= "bg-light">カナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class= "bg-light">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
         <tr>
          <td class= "bg-light">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class= "bg-light">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class= "bg-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class= "row">
    <div class= "col-lg-5">
      <div class= "mb-2"><strong class= "mr-4">配送先</strong><%= link_to "一覧を見る", addresses_path(current_customer.id), class: "btn btn-primary btn-sm" %></div>
      <div><strong class= "mr-2">注文履歴</strong><%= link_to "一覧を見る", orders_path(current_customer.id), class: "btn btn-primary btn-sm" %></div>
    </div>
  </div>
</div>