<%= render 'admin/admin_header' %>

<h3>商品一覧ページ</h3>
<%= link_to '＋', new_admin_item_path %>

  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>ジャンル</th>
        <th>税抜き価格</th>
        <th>ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
            <% end %>
          </td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>