<%= render 'public/public_header' %>

<div class= "container">
  <div class= "row">
    <div class= "border mx-auto col-lg-5 d-flex justify-content-start">
      <p><br>ようこそ、ながのCAKEへ!</br>
      このサイトはケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。<br><br></p>
    </div>
  </div>

  <div class= "row">
    <div class= "col-lg-4 d-flex justify-content-center mt-4 mb-4 ml-20">
    <div class= "h3 " >新着商品</div>
  </div>
  </div>

  <div class= "row">

      <div class= "mx-auto col-lg-10 d-flex justify-content-start">
    <table class="table table-borderless">
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <tb>
              <%= attachment_image_tag item, :image, :fill, 180, 150, format: 'jpeg', class: "mr-5" %></br>
              <%= link_to item_path(item.id), class: 'text-dark' do %>
                <%= item.name %>
              <% end %></br>
              ¥<%= item.price %></br>
            </tb>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

  <div class= "row">
    <div class= "col-lg-10 d-flex justify-content-end">
      <%= link_to "全ての商品を見る＞", items_path %>
    </div>
  </div>
</div>