<%= render 'public/public_header' %>

<p>ようこそながのCAKEへ!</br>
このサイトはケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。</p>

<h2>新着商品</h2>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <tb><%= attachment_image_tag item, :image, :fill, 200, 200, format: 'jpeg' %></tb>
          <td>
            <%= link_to item_path(item.id) do %>
            <%= item.name %>
            <% end %>
          </td>
          <td>¥<%= item.price %></td>
        </tr>
      <% end %>
    </tbody>

<p><%= link_to "全ての商品を見る", items_path %></p>

<p><%= link_to "Log in", new_customer_session_path %></p>
<p><%= link_to "Sign Up", new_customer_registration_path %></p>
