<%= render 'admin/admin_header' %>

<div class= "container">
  <div class= "row">
    <div class= "mx-auto col-lg-12 d-flex justify-content-start">
      <div class= "h5 bg-light px-4" ><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</div>
    </div>
  </div>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <td style="width:200px;">会員ID</td>
        <td scope="col"><%= @customer.id %></td>
      </tr>
      <tr>
        <td scope="col">氏名</td>
        <td scope="col"><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
       <tr>
        <td scope="col">フリガナ</td>
        <td scope="col"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td scope="col">郵便番号</td>
        <td scope="col"><%= @customer.postal_code %></td>
      </tr>
       <tr>
        <td scope="col">住所</td>
        <td scope="col"><%= @customer.address %></td>
      </tr>
       <tr>
        <td scope="col">電話番号</td>
        <td scope="col"><%= @customer.telephone_number %></td>
      </tr>
       <tr>
        <td scope="col">メールアドレス</td>
        <td scope="col"><%= @customer.email %></td>
      </tr>
      <tr>
        <td scope="col">会員ステータス</td>
        <td scope="col"><% if @customer.is_active == true %>
                          <p class="text-success">有効</p>
                        <% else %>
                          <p class="text-muted">退会</p>
                        <% end %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success mr-5" %>
            <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>