<%= render 'public/public_header' %>

<h1>配送先編集</h1>
  <%= form_with model: @address, url: address_path, local:true do |f| %>
    <label for="postal_code">郵便番号(ハイフンなし)</label></br>
    <%= f.text_field :postal_code %></br>
    <label for="address">住所</label></br>
    <%= f.text_field :address %></br>
    <label for="name">宛名</label></br>
    <%= f.text_field :name %></br>
    <%= f.submit '変更内容を保存' %>
  <% end %>
