<%= render 'public/public_header' %>

<h2>新規配送先登録</h2>
  <%= form_with model: @address, url: public_addresses_path, local:true do |f| %>
    <label for="name">郵便番号(ハイフンなし)</label></br>
    <%= f.text_field :postal_code,placeholder: "0000000" %></br>
    <label for="name">住所</label></br>
    <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町０−０" %></br>
    <label for="name">宛名</label></br>
    <%= f.text_field :name,placeholder: "令和道子" %></br>
    <%= f.submit '新規登録' %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "編集する", edit_public_address_path(@item.id) %></td>
          <td><%= link_to '削除する', public_addresses_path, method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
