<%= render 'public/public_header' %>

<h2>注文情報入力</h2>
  <%= form_with model: @order,url:orders_confirm_path, method: :post, local: true do | f | %>

    <h3>支払方法</h3>
      <%= f.radio_button :payment_method, "credit" %>
      <%= f.label :payment_method, 'クレジットカード' %></br>
      <%= f.radio_button :payment_method, "bank" %>
      <%= f.label :payment_method, '銀行振込' %></br>

    <h3>お届け先</h3>
      <%= radio_button_tag("address_selection", 0) %>
      <%= f.label :customer, 'ご自身の住所' %></br>
      〒<%= @customer.postal_code %> <%= @customer.address %></br>
      <%= @customer.last_name %><%= @customer.first_name %></br>

      <%= radio_button_tag("address_selection", 1) %>
      <%= f.label :address, '登録済住所から選択' %></br>
      <%= f.collection_select :address_id, Address.all, :id, :name, prompt: "--選択してください--" %></br>

      <%= radio_button_tag("address_selection", 2) %>
      <%= f.label :address, '新しいお届け先' %></br>
      <label for="postal_code">郵便番号（ハイフンなし）</label>
      <%= f.text_field :postal_code,placeholder: "0000000" %></br>
      <label for="address">住所</label>
      <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0" %></br>
      <label for="name">宛名</label>
      <%= f.text_field :name,placeholder: "令和道子" %></br>

  <%= f.submit '確認画面に進む' %>
  <% end %>
