<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
      <% if customer_signed_in? %>
        <li class= 'h2'><%= link_to 'LOGO', root_path, class: 'nav-link text-dark border px-5' %></li>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class= 'border rounded px-1 mr-4'><%= link_to 'マイページ', customers_my_page_path(current_customer.id), class: 'nav-link text-dark' %></li>
              <li class= 'border rounded px-1 mr-4'><%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %></li>
              <li class= 'border rounded px-1 mr-4'><%= link_to 'カート', cart_items_path, class: 'nav-link text-dark' %></li>
              <li class= 'border rounded px-1'><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
            </ul>
          </div>
      <% else %>
        <li class= 'h2'><%= link_to 'LOGO', root_path, class: 'nav-link text-dark border px-5' %></li>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class= 'border rounded px-2 mr-4'><%= link_to 'About', homes_about_path, class: 'nav-link text-dark' %></li>
              <li class= 'border rounded px-1 mr-4'><%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %></li>
              <li class= 'border rounded px-1 mr-4'><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></li>
              <li class= 'border rounded px-1'><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
            </ul>
          </div>
      <% end %>
      </div>
    </nav>
  </header>