<%= render 'public/public_header' %>

<div class= "container">
  <div class= "row">
    <div class= "mt-3 mb-3" ><strong><font size = "5">商品一覧</font></strong>全<%= Item.count %>件</div>
  </div>

  <div class= "row">
    <% @items.each do |item| %>
      <div class= "item1">
        <div class= "col-lg-8">
          <%= attachment_image_tag item, :image, :fill, 180, 0, format: 'jpeg' %>
            <div>
              <%= link_to item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </div>
            <div>
              ¥<%= item.price.to_s(:delimited) %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class= "row">
   <div class= "d-flex justify-content-center">
     <%= paginate @items %>
   </div>
  </div>
</div>