<%= render 'public/public_header' %>

  <%= form_with model: @cart_item ,url: cart_items_path, local:true  do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <table>
    <tbody>
      <tr>
          <td><%= attachment_image_tag @item, :image, :fill, 300, 200, format: 'jpeg' %></td>
          <td><strong><%= @item.name %></strong></td>
          <td><%= @item.introduction %></td>
          <td>¥<% price = @item.price * 1.1 %><%= price.round.to_s(:delimited) %><font size = "2">(税込)</font></td>
          <td><%= f.select :amount, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"]], include_blank: "個数選択"  %></td>
          <td><%= f.submit 'カートに入れる'%></td>
      </tr>
    </tbody>
  </table>
  <% end %>